/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap'); */


@font-face {
    font-family: 'Poppins';
    src: url(Poppins/Poppins-Bold.ttf);
}

.disclaimer {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    z-index: inherit;
}


form h2 {
    font-size: 40px !important;
    color: yellow;

}


form input,
textarea {
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    height: 60px;
    background-color: #FCF3CF;
}

.rangeslider
{
    position: absolute;
    width: 92.4%;
    left: 3.7%;

}

.myslider {
    -webkit-appearance: none;
    border-radius: 10px;
    background: #FCF3CF;
    width: 100%;
    height: 50px;
    opacity: 2;
    margin: 0;
}

.myslider:hover {
    opacity: 1;
}

.myslider::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
    background: blue;
    width: 5%;
    height: 20px;
    border-radius: 6px;
}


@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

#mybutton {
    font-size: xx-large;
    border-radius: 40px;
    border-color: white;
    color: #2b1055;

}


body {

    min-height: 100vh;
    background: linear-gradient(#2b1055, #7597de);
    overflow-x: hidden;

}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;

}


header .logo {

    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}


header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 20px;

}

header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;

}

header ul li a:hover,
header ul li a.active {
    background: #fff;
    color: #2b1055;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;

}


section img#stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

section img#mail_bird {
    position: absolute;
    width: auto;
    height: auto;
    transform: scale(1);
    object-fit: cover;
    pointer-events: none;

}

section img#cert1 {
    position: absolute;
    width: auto;
    top: 30%;
    left: 50%;
    transform: scale(0.5);
    height: auto;
    object-fit: cover;
    pointer-events: none;
}

section img#prize {
    position: absolute;
    width: auto;
    top: 30%;
    left: 0%;
    transform: scale(0.5);
    height: auto;
    object-fit: cover;
    pointer-events: none;
}

section img#confetti {
    position: absolute;
    width: auto;
    top: 7%;
    left: 5%;
    height: auto;
    object-fit: cover;
    pointer-events: none;
}

section img#moon {
    mix-blend-mode: screen;
}

section img#mountains_front {
    z-index: 10;
}

section::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, darkblue, transparent);
    z-index: 100;
}

#text {
    position: absolute;
    right: auto;
    color: #fff;
    white-space: nowrap;
    font-size: 6.5vw;


}

.btn {
    margin: 10px;
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: #2b1055;
    font-size: 1.5em;
    transform: translateY(100px);


}

.sec {
    /* position: relative; */
    padding-top: 100px;
    padding-bottom: 10px;
    background: darkblue;
    color: #fff;

}

.sec a {

    padding: 0px;
    margin: 0px;
    color: rgb(3, 167, 0)
}

.sec h1 {
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 50px;
    color: lightgreen;
}

.sec h2 {
    margin-bottom: 30px;
}

.sec li {
    color: yellow;
}

.sec ul,
.sec ol {
    padding-left: 8%;
}

.sec * {
    padding-left: 4%;
    padding-right: 4%;
    margin-bottom: 5px;
    font-size: large;
}

.sec ol li p {
    color: rgb(225, 225, 225);
}

.sec ol li a {
    color: yellowgreen;
}

.infodiv ul li {
    color: yellow;
    font-size: x-large;
}

.infodiv h1 div a {
    font-size: xx-large;
    position: relative;
    top: 10px;
    color: rgb(43, 169, 39)
}

.infodiv h1 img {
    width: 250px;
    height: 100%;
    float: left;
}

.infodiv h1 div p {
    font-size: xx-large;
    color: white;
}


#contact_table {
    margin-left: auto;
    margin-right: auto;

}

#contact_table tbody tr td img {
    width: 120px;
    height: 100%;
}

#contact_table tbody tr td a {
    padding-left: 100px;
    font-size: 50px;
    margin: 0;
    word-break: break-all;
    float: left;
}